name: Tests

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Print branch name
        run: |
          echo '${{ github.ref }}'
          bun -e 'console.log("${{ github.ref }}".split("/").at(-1))'
