name: update stats

on:
  schedule:
    - cron: '0 */12 * * *'
  push: { paths: ['scripts/wakatime.ts'] }
  workflow_dispatch:

jobs:
  update-news:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --no-save

      - name: Fetch Wakatime stats
        run: bun run scripts/wakatime.ts
        env:
          MONGODB_URI: '${{secrets.MONGODB_URI}}'
          WAKATIME_CLIENT_ID: '${{secrets.WAKATIME_CLIENT_ID}}'
          WAKATIME_CLIENT_SECRET: '${{secrets.WAKATIME_CLIENT_SECRET}}'
          WAKATIME_REDIRECT_URI: '${{secrets.WAKATIME_REDIRECT_URI}}'

      - name: Update News
        uses: EndBug/add-and-commit@latest
        with:
          message: 'docs: update news'
          add: 'README.md'
          default_author: github_actions
